@import "reset.css.scss";
@import "cropper.min.scss";

.crop-group{
  display: none;
  z-index: 15010;
  position: fixed;
  width: 100%;
  height: 50px;
  top:15px;
  color: #666;
  text-align: center;
  input{display: none;}
  span{
    display: inline-block;
    margin-right: 10px;
    width:50px;
    height: 50px;
    line-height: 50px;
    border:2px solid #fff;
    font-size: 16px;
    background-color: rgba(255,255,255,0.84);
  }
  input:checked +span{
    color: #fff;
    background-color: rgba(43,137,232,0.84);
  }
}


#J_post_button{
  margin: auto;
  width: 290px;
  line-height: 40px;
  background-color: #2b89e8;
  color:#fff;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
}
#J_file_box{
  display: none;
  z-index: 15009;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 110%;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
}

.btn-group{
  display: none;
  z-index: 15010;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom:15px;
  color: #fff;
  text-align: center;
  span{
    display: inline-block;
    padding: 4px 20px;
    background: #2b89e8;
    border-radius: 5px;
  }
}
#J_cancel{
  margin-right:30px;
  background: #ccc;
}



